<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
  <link rel="manifest" href="img/site.webmanifest">
  <title>Zoom image</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">

</head>

<body>
  <section class="content">
    <h1>Image Zoom</h1>

    <p>Mouse over the image:</p>

    <div class="img-zoom-container">
      <img id="myimage" src="img_girl.jpg" width="300" height="240">
      <div id="myresult" class="img-zoom-result"></div>
    </div>

    <p>The image must be placed inside a container with relative positioning.</p>
    <p>The result can be put anywhere on the page, but must have the class name "img-zoom-result".</p>
    <p>Make sure both the image and the result have IDs. These IDs are used when a javaScript initiates the zoom effect.
    </p>
  </section>




</body>

</html>